@model com.ataxlab.azure.table.retention.models.models.auth.ApplianceSessionContext

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplianceSessionContext</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedSubscriptionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedSubscriptionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedStorageAccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedStorageAccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserOid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserOid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
