@model IEnumerable<com.ataxlab.azure.table.retention.models.control.AvailableCommand>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkflowOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorklowOperationDisplayMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuLabel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkflowOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorklowOperationDisplayMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuLabel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvailableCommandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvailableCommandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvailableCommandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
